/* Generel styling*/
* {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
}

/* Menu */
header {
  background-color: #fff;
  width: 100%;
  padding: 70% 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  grid-area: h;
}

.logo-burger {
  display: flex;
  align-items: center;
  margin-left: .5em;
  color: #000;
}

.logo1 {
  width: 130px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 60px;
}
.logo2 {
  width: 130px;
  height: auto;
  background-color: #81adb4;
  position: absolute;
  top: 30px;
  left: 60px;
}

nav {
  width: 100%;
}

#main-nav {
  display: flex;
  margin-right: .5em;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  flex-direction: column;
  z-index: 50;
}

#main-nav a {
  display: block;
  margin-left: 1em;
  font-size: 16px;
  line-height: 1.4em;
  color: #000;
  text-decoration: none;
  margin: 0 35px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}

#main-nav a:hover {
  color: #69acb9;
}

.active {
  color: white;
}

.hidden {
  display: none;
}

ul#main-nav {
  padding-inline-start: 0px;
}

nav, div.logo-burger {
  grid-row-start: 1;
  display: grid;
  grid-row-end: 3;
}

/* forside */
main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h m m m m m m m m m m"
    "h h m m m m m m m m m m"
    "h h k k k k k k k k k k"
    "j j k k k k k k k k k k"
    "j j s s s s s s s s s s"
    "j j i i i i i i i i i i"
    "j j i i i i i i i i i i"
    "f f i i i i i i i i i i";
}

.main-content, .kategorier, .buttons {
  background-color: #81adb4;
}

.main-content {
  grid-area: m;
  display: grid;
}

.kategorier {
  grid-area: k;
  display: grid;
}

.kamera {
  position: absolute;
  z-index: 0;
  width: 40%;
  left: 10%;
  top: 0%;
  margin-left: 0;
}

.main-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-content h1 {
  font-size: 4.5em;
  color: #fff;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 8% 0 1.5% 0;
  z-index: 100;
}

.cta-bio {
  display: flex;
  align-items: flex-end;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 15%;
}

.cta-bio p, .cta-main {
  width: 57%;
}

.cta-bio p {
  color: #fff;
  line-height: 1.5em;
  font-size: 1.3em;
  font-weight: 300;
}

.cta-main h3 {
  margin-top: 4%;
  padding: 13px 20px;
  background-color: #fff;
  width: 50%;
  text-align: center;
  font-size: 1em;
  color: #23675c;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

.kategorier {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 20%;
  padding-right: 2%;
}

.kategori-1 hr {
  width: 62%;
  height: 2px;
  margin-left: 8px;
  color: #fff;
  background-color: #fff;
  border: 0px;
}

.kategori-1 {
  flex-direction: row;
  width: 55%;
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.kategori-1 h2 {
  color: #fff;
  font-size: 2.5em;
}

.buttons {
  flex-direction: row;
  display: flex;
  padding-bottom: 9%;
}

.buttons a {
  padding: 20px;
}

.buttons h3 {
  padding: 13px 20px;
  background-color: #fff;
  width: 222px;
  text-align: center;
  font-size: 0.7em;
  color: #23675c;
  font-weight: 700;
  letter-spacing: 1px;
}

.find {
  display: grid;
  grid-area: f;
  background-color: #fff !important;
  color: #000;
  padding: 20% 10% 20% 20%;
  font-size: 12px;
}

.find a {
  color: #000;
}

.cta-main h3:hover, .cta-sub h3:hover {
  box-shadow: 10px 11px 20px -6px rgba(0, 0, 0, 0.3);
  color: #000;
}

.cta-sub h3 {
  transition: all 0.5s ease-in-out;
}

.subheader {
  font-size: 50px;
  justify-self: center;
  font-weight: 300;
  color: #000;
  margin-top: 7%;
  grid-area: s;
  display: grid;
}

.empty {
  grid-area: j;
  height: 100vh;
  background-color: #fff;
}

.empty-opr {
  grid-area: n;
  height: 100%;
  background-color: #81adb4;
}

.image-grid {
  grid-area: i;
  overflow: hidden;
  display: grid;
  width: 85%;
  margin: 7% 0 12% 0;
  justify-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a b c"
    "d e g g";
}

.image1 {
  grid-area: a;
  position: relative;
  opacity: 1;
}

.image2 {
  grid-area: b;
  position: relative;
  opacity: 1;
}

.image3 {
  grid-area: c;
  position: relative;
  opacity: 1;
}

.image4 {
  grid-area: d;
  position: relative;
  opacity: 1;
}

.image5 {
  grid-area: e;
  position: relative;
  opacity: 1;
}

.image6 {
  grid-area: g;
  position: relative;
  opacity: 1;
}

.image1 img {
  width: 100%;
  height: 100%;
}

.image2 img {
  width: 100%;
  height: 100%;
}

.image3 img {
  width: 100%;
  height: 100%;
}

.image4 img {
  width: 100%;
  height: 100%;
}

.image5 img {
  width: 100%;
  height: 100%;
}

.image6 img {
  width: 100%;
  height: 100%;
}

.overlay-img {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
}

.image1 h4,
.image2 h4,
.image3 h4,
.image4 h4,
.image5 h4,
.image6 h4 {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #556572;
}

.image1:hover .image1-img,
.image2:hover .image2-img,
.image3:hover .image3-img,
.image4:hover .image4-img,
.image5:hover .image5-img,
.image6:hover .image6-img {
  opacity: 0.4;
}

.image1:hover .overlay-img,
.image2:hover .overlay-img,
.image3:hover .overlay-img,
.image4:hover .overlay-img,
.image5:hover .overlay-img,
.image6:hover .overlay-img {
  opacity: 1;
  text-align: center;
  width: 100%;
  top: 125px;
  color: #000;
  font-size: 2em;
  font-weight: 400;
}

/* Guides */
.main2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h y y y y y y y y y y"
    "h h y y y y y y y y y y"
    "h h t t t t t t t t t t"
    "j j w w w w w w w w w w"
    "j j s s s s s s s s s s"
    "j j i i i i i i i i i i"
    "j j i i i i i i i i i i"
    "f f i i i i i i i i i i";
}

.heading-3 {
  grid-area: y;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #fff;
}

.heading-3, .guide-text{
  background-color: #81adb4;
}

.guide-text{
 grid-area: t;
 font-size: 1.3em;
 width: 100%;
 display: flex;
 justify-content: center;
}

.guide-text p{
  width: 65%;
  color: #fff;
}

/* Toggle button */

.toggler {
    width: 100%;
    grid-area: w;
    background-color: #81adb4;
    text-align: center;
  }


  #button {
    padding: 0.5em 5em;
    text-decoration: none;
    width: 33%;
  }
  #effect {
    position: relative;
    width: 100%
    padding: 0.4em;
    border: none;
    background-color: #81adb4;
  }

  #effect img{
    background-color: #81adb4;
  }

  button, input[type="submit"], input[type="reset"] {
  	background: none;
  	color: inherit;
  	border: none;
  	padding: 0;
  	font: inherit;
  	cursor: pointer;
  	outline: inherit;
  }

  .custom-button{
    padding: 13px 20px !important;
    background-color: #fff !important;
    width: 22%;
    text-align: center;
    font-size: 1em !important;
    color: #23675c !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    transition: all 0.5s ease-in-out;
    font-family: Montserrat !important;
    margin: 2% 0;
  }

  .custom-button:hover{
    box-shadow: 10px 11px 20px -6px rgba(0, 0, 0, 0.3);
    color: #000;
  }

/* Udstyr */

.main3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h y y y y y y y y y y"
    "h h y y y y y y y y y y"
    "h h t t t t t t t t t t"
    "j j w w w w w w w w w w"
    "j j s s s s s s s s s s"
    "j j i i i i i i i i i i"
    "j j i i i i i i i i i i"
    "f f i i i i i i i i i i";
}

/* Find Medialab */

.main4 {
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h q q q q q q q q q q"
    "h h p p p p p p p p p p"
    "h h p p p p p p p p p p"
    "f f x x x x x x x x x x";
}

.h1-find, .kontakt-find, #map{
  background-color: #81adb4;
}


#map {
  height: 500px;
  grid-area: p;

}

.h1-find{
  font-size: 4.5em;
  color: #fff;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 3% 0 1.5% 0;
  grid-area: q;
  justify-items: center;
}

.kontakt-find{
  grid-area: x;
  display: flex;
  justify-content: center;
  padding: 7% 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.main-oprydning {
  width: 100%;
  background-color: #81adb4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h o o o o o o o o o o"
    "h h o o o o o o o o o o"
    "h h z z z z z z z z z z"
    "n n z z z z z z z z z z"
    "n n z z z z z z z z z z"
    "n n v v v v v v v v v v"
    "n n v v v v v v v v v v"
    "n n v v v v v v v v v v"
    "n n l l l l l l l l l l"
    "n n l l l l l l l l l l"
    "f f l l l l l l l l l l"
    "f f l l l l l l l l l l";
}

.hero-oprydning {
  padding-top: 4%;
  grid-area: o;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

.hero-oprydning h1 {
  font-size: 3.3em;
  width: 80%;
}

.hero-oprydning p {
  padding-top: 4%;
  font-size: 1.3em;
  width: 80%;
}

.twenty {
  display: flex;
  padding-top: 1%;
  justify-content: center;
  width: 100%;
  grid-area: z;
}
.twentytwenty-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.row {
  max-width: 100%;
  width: 80%;
}

.twenty2 {
  display: flex;
  padding-top: 1%;
  justify-content: center;
  width: 100%;
  grid-area: v;
}

.opr-imgs {
  display: flex;
  flex-direction: column;
  grid-area: l;
  width: 100%;
  align-items: center;
}

.opr-imgs img {
  margin: 1% 2%;
  width: 80%;
}

.main-portraet {
  display: grid;
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "h h aa aa aa aa aa aa aa aa aa aa"
  "h h aa aa aa aa aa aa aa aa aa aa"
  "h h ab ab ab ab ab ab ab ab ab ab"
  "n n ab ab ab ab ab ab ab ab ab ab"
  "n n ab ab ab ab ab ab ab ab ab ab"
  "n n ac ac ac ac ac ac ac ac ac ac"
  "n n ac ac ac ac ac ac ac ac ac ac"
  "n n ac ac ac ac ac ac ac ac ac ac"
  "n n ac ac ac ac ac ac ac ac ac ac"
  "n n ad ad ad ad ad ad ad ad ad ad"
  "n n ad ad ad ad ad ad ad ad ad ad"
  "f f ad ad ad ad ad ad ad ad ad ad";
}
.heading-portraet {
  grid-area: aa;
  width: 80%;
  display: flex;
  justify-content: center;
}
.heading-portraet h1 {
  font-size: 4em;
  padding: 4% 0 1% 0;
}

.hero-portraet {
  grid-area: ab;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-portraet img {
  width: 80%;
}

.bc-full {
  display: flex;
  justify-content: space-between;
  width: 80%;

}
.breadcrumbs, .breadcrumbs a {
  font-family: 'Montserrat', 'Sans-serif';
  text-decoration: none;
  color: #000;
  font-size: 24px;
  transition: .3s;
}
.active-bc {
  font-weight: 700;
}

.breadcrumbs a:hover {
  color: #505050;
}
.portraet-text {
  grid-area: ac;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
.portraet-text p {
  font-size: 1.4em;
  padding-top: 10px;
}


.portraet-ill {
  grid-area: ad;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portraet-ill img {
  padding-top: 5%;
  width: 80%;
}

.invert-color {
  background-color: #81adb4 !important;
}
.invert-colora a {
  color: #fff !important;
}
.find h4 {
  color: #fff;
}



/* Mobile menu - media queries*/
/* Mobile menu */
@media all and (max-width: 1200px) {

  /*HEADER NAV*/
  header {
    display: block;
    box-shadow: 0 0 0px #000;
    padding: 0px;
  }

  .logo-burger {
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #fff;
  }

  .logo-burger label {
    display: block;
    font-size: 2em;
    cursor: pointer;
  }

  #toggle:checked+#main-nav {
    display: block;
  }

  #main-nav {
    display: none;
    padding: 0;
    background-color: #fff;
    z-index: 120;
  }

  .logo1 {
    width: 60px;
    height: 40px;
    top: 17px;
    right: 10px;
    left: auto;
  }

  #main-nav li {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }

  #main-nav a {
    margin: 0;
    text-align: center;
    line-height: 50px;
  }

  #main-nav li:last-of-type {
    border-bottom: none;
  }

  main {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "h h h h"
      "m m m m"
      "k k k k"
      "s s s s"
      "i i i i"
      "i i i i"
      "f f f f";
  }

  .kamera {
    display: none;
  }
}

/*MEDIA QUERY TABLET AND ABOVE*/
@media all and (min-width: 1200px) and (max-width: 1700px) {

  /*HEADER NAV*/
  header {
    display: flex;
  }

  #logo-burger {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  #logo {
    margin-top: .2em;
  }

  #main-nav {
    justify-content: center;
    /* Remove large hover box - width: 100%*/
    width: 15%;
  }

  .hidden {
    display: none;
  }

  label {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  .logo1, .logo2 {
    position: fixed;
  }

  #main-nav {
    position: fixed;
  }
}

@media all and (max-width: 768px) {

  /*forside */
  .main-content h1 {
    font-size: 2.8em;
  }

  .cta-bio p, .cta-main {
    width: 100%;
  }

  .cta-bio p {
    font-size: 1em;
    text-align: center;
  }

  .cta-main h3 {
    width: 100%;
  }

  .kategorier {
    align-items: center;
  }

  .buttons {
    flex-direction: column;
  }

  .kategori-1 h2 {
    font-size: 2em;
  }

  .kategori-1 hr {
    display: none;
  }

  .kategori-1 {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  h2.subheader {
    font-size: 30px;
  }

  .image-grid {
    grid-template-areas:
      "a a a a"
      "b b c c"
      "d d e e"
      "g g g g";
  }

  /* Find Medialab*/

  .main4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "h h h h"
      "q q q q"
      "p p p p"
      "x x x x"
      "f f f f";
  }

  .main-portraet {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "h h h h"
    "aa aa aa aa"
    "aa aa aa aa"
    "ab ab ab ab"
    "ab ab ab ab"
    "ac ac ac ac"
    "ac ac ac ac"
    "ac ac ac ac"
    "ac ac ac ac"
    "ad ad ad ad"
    "ad ad ad ad"
    "f f f f";
  }
}
