/* Generel styling*/
* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    box-sizing: border-box;
    margin: 0;
}

h1,h2,h3,h4,h5,p{
  font-family: 'roboto';
}



/* Menu */
header {
    background-color: #fff;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 5px #aaaaaa;
}

.logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
    color: #000;

}


.logo1 {
    width: 50px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 15px;
}


nav {
    width: 100%;
    justify-content: flex-end;
}


#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    margin-top: 15px !important;
    margin-bottom: 15px !important;


}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 14px;
    line-height: 1.4em;
    color: #000;
    text-decoration: none;
    margin: 0 35px;
    font-family: roboto, sans-serif;
    font-weight: 700;
}

#main-nav a:hover {
    color: #69acb9;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

/*
Colours:
Blå: #94C4BB
Guld: #D3C680
Sort: #7B7B7B
Hvid: #FFFFFF
*/


h1, h2, h3, h4 {
  text-transform: uppercase;
}

.medialab {
  text-transform: none;
}

.welcome {
  width: 100%;
  background-color: #94C4BB;
  padding: 45px 50px;
}

.welcome h1 {
  color: white;
  text-align: center;
}

.cta {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 10px 0;
  margin: 10px auto;
  color: white;
}

.cta:hover {
  transition: .2s;
  background-color: rgba(255,255,255,0.2);
}

.cta a {
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.ctablack {
  border: 3px solid black;
  margin: 30px 0;
  padding: 10px 0;
}
.ctaflex {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.ctaflex a {
  color: black;
  font-size: 1.3em;
}

.ctablack:hover {
  transition: .2s;
  border: 3px solid #9a9a9a;
}

footer {
  background-color: #D3C680;
  padding: 5% 10%;
  color: white;
}

footer hr {
  margin: 10px 0;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  .welcome {

  }

  .welcome h1 {
    font-size: 3em;
    padding: 0 0 5% 0;
  }

  .flex {
    display: flex;
    flex-direction: row;
  }

  .cta {
    width: 45%;
    margin: 0 auto;
    padding: 20px 50px;
  }

  .ctaflex {
    flex-direction: row;
    width: 100%;
  }
  .ctablack {
    width: 30%;
    padding: 25px 20px;
    margin: 10px auto;
  }

  .content {
    display: flex;
    align-items: center;
    height: 30vh;
  }

  footer {
    padding: 5% 5%;
  }

  footer hr {
    width: 15%;
  }



}


/* Mobile menu - media queries*/

/* Mobile menu */
@media all and (max-width: 1200px) {

    /*HEADER NAV*/
    header {
        display: block;
        box-shadow: 0 0 0px #000;
    }

    .logo-burger {
        justify-content: space-between;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 17px;
        background-color: #fff;

    }

    .logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
        padding: 0;

    }

    .logo1 {
        width: 85px;
        height: 60px;
    }

    #main-nav li {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    #main-nav a {
        margin: 0;
        text-align: center;
        line-height: 50px;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }


}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 1200px) and (max-width: 1500px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #logo-burger {
        margin-top: 27px;
        margin-bottom: 27px;
    }

    #logo {
        margin-top: .2em;
    }

    #main-nav {
        justify-content: center;
        width: 100%;


    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }


}
